[submodule "vendor/getsentry-skills"]
	path = vendor/getsentry-skills
	url = https://github.com/getsentry/skills.git
[submodule "vendor/agentic-seo-skill"]
	path = vendor/agentic-seo-skill
	url = https://github.com/Bhanunamikaze/Agentic-SEO-Skill.git
[submodule "vendor/opencode-processing-skills"]
	path = vendor/opencode-processing-skills
	url = https://github.com/DasDigitaleMomentum/opencode-processing-skills.git
[submodule "vendor/anthropic-skills"]
	path = vendor/anthropic-skills
	url = https://github.com/anthropics/skills.git
[submodule "vendor/vercel-agent-skills"]
	path = vendor/vercel-agent-skills
	url = https://github.com/vercel-labs/agent-skills.git
[submodule "vendor/trailofbits-skills"]
	path = vendor/trailofbits-skills
	url = https://github.com/trailofbits/skills.git
[submodule "vendor/cloudflare-skills"]
	path = vendor/cloudflare-skills
	url = https://github.com/cloudflare/skills.git
[submodule "vendor/stripe-skills"]
	path = vendor/stripe-skills
	url = https://github.com/stripe/ai.git
[submodule "vendor/expo-skills"]
	path = vendor/expo-skills
	url = https://github.com/expo/skills.git
[submodule "vendor/google-stitch-skills"]
	path = vendor/google-stitch-skills
	url = https://github.com/google-labs-code/stitch-skills.git
[submodule "vendor/hashicorp-skills"]
	path = vendor/hashicorp-skills
	url = https://github.com/hashicorp/agent-skills.git
[submodule "vendor/supabase-skills"]
	path = vendor/supabase-skills
	url = https://github.com/supabase/agent-skills.git
[submodule "vendor/callstack-skills"]
	path = vendor/callstack-skills
	url = https://github.com/callstackincubator/agent-skills.git
[submodule "vendor/scientific-skills"]
	path = vendor/scientific-skills
	url = https://github.com/K-Dense-AI/claude-scientific-skills.git
[submodule "vendor/anthropic-finance"]
	path = vendor/anthropic-finance
	url = https://github.com/anthropics/financial-services-plugins.git
[submodule "vendor/marketingskills"]
	path = vendor/marketingskills
	url = https://github.com/coreyhaines31/marketingskills.git
[submodule "vendor/itsmostafa-aws-agent-skills"]
	path = vendor/itsmostafa-aws-agent-skills
	url = https://github.com/itsmostafa/aws-agent-skills.git
[submodule "vendor/MoizIbnYousaf-Ai-Agent-Skills"]
	path = vendor/MoizIbnYousaf-Ai-Agent-Skills
	url = https://github.com/MoizIbnYousaf/Ai-Agent-Skills.git
[submodule "vendor/JackyST0-awesome-agent-skills"]
	path = vendor/JackyST0-awesome-agent-skills
	url = https://github.com/JackyST0/awesome-agent-skills.git
[submodule "vendor/addyosmani-agent-skills"]
	path = vendor/addyosmani-agent-skills
	url = https://github.com/addyosmani/agent-skills.git
[submodule "vendor/VoltAgent-awesome-agent-skills"]
	path = vendor/VoltAgent-awesome-agent-skills
	url = https://github.com/VoltAgent/awesome-agent-skills.git
